{% include 'navbar.html' %} 
{% block content %}
<u><h1>{{ object.student_id }}</h1></u>
<img src="https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-Download-Image.png" alt="Profile Picture" width="300px" height="300px">
<h1>{{ object.first_name }} {{ object.last_name}}</h1>
<h2>Graduation Year: <a href="">{{ object.grad_year }}</a></h2>
<u><h3>Subjects</h3></u>
<font size="5px">
{% if object.subject1 %} <a href="../../subjects/{{ object.subject1 }}">{{ object.subject1 }}</a> {% endif %}
{% if object.subject2 %} <a href="../../subjects/{{ object.subject2 }}">{{ object.subject2 }}</a> {% endif %}
{% if object.subject3 %} <a href="../../subjects/{{ object.subject3 }}">{{ object.subject3 }}</a> {% endif %}
{% if object.subject4 %} <a href="../../subjects/{{ object.subject4 }}">{{ object.subject4 }}</a> {% endif %}
{% if object.subject5 %} <a href="../../subjects/{{ object.subject5 }}">{{ object.subject5 }}</a> {% endif %}
{% if object.subject6 %} <a href="../../subjects/{{ object.subject6 }}">{{ object.subject6 }}</a> {% endif %}
{% if object.subject7 %} <a href="../../subjects/{{ object.subject7 }}">{{ object.subject7 }}</a> {% endif %}
{% if object.subject8 %} <a href="../../subjects/{{ object.subject8 }}">{{ object.subject8 }}</a> {% endif %}
{% if object.subject9 %} <a href="../../subjects/{{ object.subject9 }}">{{ object.subject9 }}</a> {% endif %}
{% if object.subject1 %} <a href="../../subjects/{{ object.subject10 }}">{{ object.subject1 }}</a> {% endif %}
</font>
{% endblock %}