{% extends 'base.html' %}
{% block content %}
  <u><h1>Students</h1></u>
  {% include 'courses/search_student_list.html' %}
  <br />
  <font size="6px">
    {% for object in objects %}
      {% if object.subject1 %}
        <a href="{% url 'courses:student-detail' pk=object.student_id %}">{{ object.student_id }}</a> -
        {% for subject in object.get_student_subjects %}
          <a href="{% url 'courses:subject-detail' subject=subject %}">{{ subject }}</a>
        {% endfor %}
        <br />
      {% endif %}
    {% endfor %}
  </font>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
</div>
{% endblock %}

