{% extends 'base.html' %}
{% block content %}
  <u><h1>{{ subject }} - Enrolled Students:</h1></u>
  {% include 'courses/search_subject_detail.html' %}
  <br />

  {% for queryset in querysets %}
    {% if queryset %}
      <u>
        <h2>Class {{ forloop.counter }}:</h2>
      </u>
    {% endif %}
  {% for object in queryset %}
    <font size="6px">
      <a href="{% url 'courses:student-detail' pk=object.student_id %}">{{ object.first_name }} {{ object.last_name }}</a>
    </font>
    <br />
  {% endfor %}
  {% endfor %}
{% endblock %}
